body{
    text-align:center;
    width: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
    --e-global-color-primary: #F3B3A6 ;

}
h1,h2{
    text-align:center;
    color: #178888;
}

b{
    color: #178888;
}